body {
  background-color: rgba(206, 255, 9, 0.19);
}
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: rgba(17, 142, 203, 0.9);
    position: center; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 30%;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}
